:root {
  --color-black: #3E4959;
  --color-grey: #828B97;
  --color-light-grey: #EEEFF2;
  --bg-default: #FAFAFD;
  --bg-card: #FFFFFF;
  --bg-divider: #F8F8F9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
